<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/public/style_second.css">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=News+Cycle&display=swap" rel="stylesheet">
</head>
<body>
    <div class="top">
        <h2>WeatherToday</h2>
    </div>
    <div class="main">
        <h1><%= date %></h1>
        <h1><%= city %></h1>
        <img src=<%= iconUrl %> alt="">
        <h2><%= description %></h2>
        <h2><%= temp %> degree celcius</h2>
    </div>
</body>
</html>